html,
body,
#root {
  height: 100%;
  overflow-x: hidden;
}

img {
  filter: drop-shadow(0 0 0.7rem rgb(255, 255, 255));
}

.customHeight1 {
  height: calc(100% - 3.5rem);
}

.customHeight2 {
  height: calc(100% - 7rem);
}

#root {
  display: flex;
  flex-direction: column;
}

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #4281a4 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #4281a4;
  border-radius: 7px;
  border: 3px solid #ffffff;
}